li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
  min-height: 173px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header .user-info {
  margin-left: 10px;
  width: 100%;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  display: block;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.dev-item a {
  color: #071CB7;
  font-size: 14px;
  text-decoration: none;  
}

li.dev-item a:hover {
  color: #1832F3;
}

li.dev-item header .user-delete {
  position: relative;
  cursor: pointer;
}

.icon-edit {
  position: absolute;
  color: #362197;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-55px);
  margin-bottom: -15px;
  cursor: pointer;
  margin-left: 320px;
}
.icon-edit:hover {
  color: #1832F3;
}

.icon-remove {
  position: absolute;
  color: #cc0000;
  display: flex;
  justify-content: flex-end;
  transform: translateY(55px);
  cursor: pointer;
  margin-left: 320px;
}

.icon-star {
  position: absolute;
  color: #D8D523;
  /* display: flex;
  justify-content: flex-end; */
  transform: translateY(-55px);
  margin-bottom: -15px;
  margin-left: 320px;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

@media (max-width: 1024px){
  .icon-star {
    margin-left: 235px;
  }

  .icon-edit {
    margin-left: 235px;
  }
  
  .icon-remove {
    margin-left: 235px;
  }
}

@media (max-width: 768px){
  .icon-star {
    margin-left: 280px;
  }

  .icon-edit {
    margin-left: 280px;
  }
  
  .icon-remove {
    margin-left: 280px;
  }
}

@media (max-width: 414px){
  .icon-star {
    margin-left: 290px;
  }

  .icon-edit {
    margin-left: 290px;
  }
  
  .icon-remove {
    margin-left: 290px;
  }
}

@media (max-width: 375px){
  .icon-star {
    margin-left: 250px;
  }

  .icon-edit {
    margin-left: 250px;
  }
  
  .icon-remove {
    margin-left: 250px;
  }
}

@media (max-width: 360px){

  .user-info strong{
    font-size: 14px;
  }
  .icon-star {
    margin-left: 240px;
  }

  .icon-edit {
    margin-left: 240px;
  }
  
  .icon-remove {
    margin-left: 240px;
  }

}

@media (max-width: 320px){

  .user-info strong{
    font-size: 14px;
  }
  .icon-star {
    margin-left: 200px;
  }

  .icon-edit {
    margin-left: 200px;
  }
  
  .icon-remove {
    margin-left: 200px;
  }

}